/* ======= GLOBAL ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-font: "Inconsolata", sans-serif;
  --main-font: "Space Mono", sans-serif;
  --footer-font: "Montserrat", sans-serif;
}

/* ======= HEADER ======= */
header {
  margin-top: 20px;
  margin-left: 24px;
}

header h1 {
  font: 700 1.5rem var(--header-font);
  letter-spacing: -0.08em;
  line-height: 1.5625rem;
  text-transform: uppercase;
}

/* ======= MAIN ======= */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 64px;
}

main img {
  width: 288px;
  margin-bottom: 60px;
}

main #container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-left: 24px;
}

#container h2 {
  font: 700 3rem var(--main-font);
  letter-spacing: -0.035em;

  width: 350px;
  margin-bottom: 32px;

  color: #333333;
}

#container p {
  font: 400 1.125rem var(--main-font);
  letter-spacing: -0.035em;
  margin-bottom: 64px;

  color: #4f4f4f;
}

#container button {
  font: 700 0.875rem var(--main-font);
  letter-spacing: -0.035em;
  text-transform: uppercase;
  padding: 23px 43px;

  background-color: #333333;
  border-color: #333333;
  color: #ffffff;

  cursor: pointer;
}

/* ======= FOOTER ======= */
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 114px;
  margin-bottom: 24px;
}

footer small {
  font: 500 0.875rem var(--footer-font);
  color: #bdbdbd;
}

footer ins {
  font-weight: 700;
}

/* ======= MEDIA QUERIES ======= */
@media (max-width: 320px) {
  header h1 {
    font-size: 1.25rem;
    line-height: 1.3125rem;
  }

  main img {
    width: 260px;
  }

  #container h2 {
    font-size: 2.5rem;
    width: 300px;
  }

  #container p {
    width: 280px;
    margin-bottom: 52px;
  }

  #container button {
    padding: 20px 40px;
  }

  footer small {
    font-size: 0.75rem;
  }
}

@media (min-width: 425px) {
  header {
    margin-top: 24px;
    margin-left: 28px;
  }

  main {
    margin-top: 56px;
  }

  main img {
    width: 320px;
    margin-bottom: 58px;
  }

  main #container {
    margin-left: 12px;
  }

  #container h2 {
    width: 360px;
  }

  #container p {
    width: 320px;
    margin-bottom: 56px;
  }

  footer {
    margin-top: 104px;
  }
}

@media (min-width: 768px) {
  header {
    margin-top: 36px;
    margin-left: 48px;
  }

  main {
    margin-top: 48px;
  }

  main img {
    width: 380px;
    margin-bottom: 54px;
  }

  main #container {
    align-items: center;
    text-align: center;

    margin-left: 0px;
  }

  #container h2 {
    font-size: 3.25rem;
    width: 400px;
  }

  #container p {
    font-size: 1.25rem;
  }

  #container button {
    padding: 21px 41px;
  }

  footer {
    margin-top: 84px;
  }
}

@media (min-width: 1024px) {
  header {
    margin-top: 38px;
    margin-left: 56px;
  }

  main {
    flex-direction: row;

    margin-top: 120px;
  }

  main img {
    width: 460px;
    margin-bottom: 0px;
  }

  main #container {
    text-align: left;
    align-items: flex-start;
  }

  #container h2 {
    font-size: 3.5rem;
    margin-bottom: 36px;
  }

  #container p {
    font-size: 1.375rem;
    width: 350px;
  }

  footer {
    margin-top: 260px;
  }
}

@media (min-width: 1440px) {
  header {
    margin-top: 40px;
    margin-left: 77px;
  }

  main {
    margin-top: 200px;
  }

  main img {
    width: 540px;
  }

  #container h2 {
    font-size: 4rem;
    width: 586px;
  }

  #container p {
    width: 380px;
    font-size: 1.5rem;
  }

  #container button {
    padding: 23px 43px;
  }

  footer {
    margin-top: 320px;
  }
}
