/* ====== IMPORTING ====== */
@import "./reset.css";

@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap);

/* ====== LAYOUT ====== */
body {
  background-color: #181719;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header-text,
main {
  margin-left: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 18px;
}

#header-text {
  width: 103px;
  height: 31px;
  border: 1px solid white;
}

#header-text h1 {
  font: 200 14px "Crimson Pro", serif;
  text-align: center;

  padding: 7px;
}

nav {
  display: flex;
  margin-right: 10px;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
}

nav .menu ul {
  display: none;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.title::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;

  position: absolute;
  left: 0;
  bottom: -8px;
}

.active {
  font-weight: 700;
}

.active::after {
  width: 100%;
}

.menu.show {
  opacity: 1;
  visibility: visible;

  background: #181719;

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
  text-align: center;
  z-index: 1;
}

.menu.show ul {
  display: grid;
}

.menu.show ul.grid {
  gap: 2rem;
}

.toggle {
  z-index: 1;
}

.toggle .material-icons {
  font-size: 32px;
}

/* ======= MAIN ======= */
main {
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-top: 38px;
}

.principal h1 {
  font: 500 36px "Lora", serif;
  margin-bottom: 25px;
}

.principal p {
  font: 400 14px "Montserrat", sans-serif;

  width: 250px;
  margin-bottom: 25px;
}

.principal small {
  font: 700 14px "Montserrat", sans-serif;
}

small a {
  color: white;

  display: flex;
  align-items: center;
}

small a span {
  margin-left: 15px;
}

/* ======= MURAL SECTION ======= */
.mural {
  width: 350px;
  height: 440px;
  margin-top: 36px;

  position: relative;
}

.mural::before {
  content: "";
  width: 21.875rem;
  height: 16.5rem;
  background-image: url(../images/photo1.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.mural .container {
  background: #181719;
  width: 300px;
  height: 138px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
  transform: translateX(40px) translateY(213px);
}

.owner,
.container p {
  padding-left: 18px;
}

.container .owner {
  display: flex;
  padding-top: 16px;
}

.owner img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.owner .carrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  padding-left: 12px;
}

.carrer h1 {
  font: 500 12px "Montserrat", sans-serif;
}

.carrer h2 {
  font: 500 10px "Montserrat", sans-serif;
  color: #828282;
}

.container p {
  font: 700 18px "Lora", serif;

  width: 210px;
  padding-top: 20px;
}

/* ======= FOOTER ======= */
footer {
  text-align: center;
  margin-bottom: 24px;
}

footer small {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;

  color: #a9a9a9;
}

footer ins {
  font-weight: 700;
}

/* ======= MEDIA QUERRIES ======= */
@media (min-width: 425px) {
  main {
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-around;

    margin-left: 0px;
  }

  .principal {
    margin-top: 50px;
  }

  .principal h1 {
    font-size: 38px;
  }

  .principal p {
    font-size: 16px;
  }

  .mural {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .mural {
    width: 545px;
    height: 520px;
  }

  .mural::before {
    width: 33.975rem;
    height: 25.625rem;
  }

  .mural .container {
    width: 355px;
    height: 163.5px;

    transform: translateX(167.5px) translateY(345px);
  }

  .owner,
  .container p {
    padding-left: 24px;
  }

  .container .owner {
    padding-top: 17px;
  }

  .owner img {
    width: 42px;
    height: 42px;
  }

  .carrer h1 {
    font-size: 14px;
  }

  .carrer h2 {
    font-size: 12px;
  }

  .container p {
    font-size: 20px;
    width: 220px;
  }
}

@media (min-width: 1440px) {
  .mural {
    width: 740px;
    height: 660px;
  }

  .mural::before {
    width: 46.0625rem;
    height: 34.6875rem;
  }

  .mural .container {
    width: 410px;
    height: 189px;

    transform: translateX(295px) translateY(477px);
  }
}
