/* ====== MEDIA QUERIES ====== */
@media (max-width: 1024px) {
  header {
    margin-left: 0;
    flex-direction: row;
    align-items: baseline;
  }

  header h1 {
    margin-top: 110px;
  }

  header #main-text {
    margin-left: 215px;
  }

  #main-text h2 {
    margin: 0;
  }

  main {
    grid-template-columns: 264px 264px 264px;
    column-gap: 64px;
    margin-top: 96px;
  }

  main .member:nth-child(2n + 2) {
    margin-top: 0;
  }

  main .member:nth-child(2),
  main .member:nth-child(5) {
    margin-top: 100px;
  }

  .person img {
    width: 238px;
    height: 341px;
  }

  .person h1 {
    font-size: 18px;

    margin-top: 15px;
  }

  .member p {
    font-size: 12px;

    margin-left: 5px;
  }

  footer {
    margin-top: 115px;
  }
}

@media (min-width: 768px) {
  header {
    margin-left: 0;
    flex-direction: row;
    align-items: baseline;
  }

  header h1 {
    margin-top: 75px;
  }

  header #main-text {
    margin-left: 215px;
  }

  #main-text h2 {
    margin: 0;
  }

  main {
    grid-template-columns: 264px 264px 264px;
    column-gap: 64px;
    margin-top: 96px;
  }

  main .member:nth-child(2n + 2) {
    margin-top: 0;
  }

  main .member:nth-child(2),
  main .member:nth-child(5) {
    margin-top: 100px;
  }

  .person img {
    width: 238px;
    height: 341px;
  }

  .person h1 {
    font-size: 18px;

    margin-top: 15px;
  }

  .member p {
    font-size: 12px;

    margin-left: 5px;
  }

  footer {
    margin-top: 115px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: baseline;
    margin-left: 0;
  }

  header #main-text {
    margin-left: 75px;
  }

  #main-text h2 {
    margin: 0;
  }

  main {
    grid-template-columns: 155px 155px 155px;
    column-gap: 50px;
    margin-top: 76px;
  }

  main .member:nth-child(2n + 2) {
    margin-top: 0;
  }

  main .member:nth-child(2),
  main .member:nth-child(5) {
    margin-top: 76px;
  }
}
