@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== LAYOUT ====== */
body {
  background-color: #fafafa;
  color: #000000;
}

header {
  display: flex;
  flex-direction: column;

  margin-top: 72px;
  margin-left: 14px; /* design adjustment */

  font-family: "PT Serif", serif;
}

header h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.045em;

  margin-bottom: 38px;
}

#main-text {
  font-family: "Poppins", sans-serif;
}

#main-text h2 {
  font-size: 1.125rem;
  text-transform: uppercase;

  margin-bottom: 10px;
}

#main-text p {
  font-size: 0.875rem;
  width: 300px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 25px;

  margin-top: 64px;
}

main .member:nth-child(2n + 2) {
  margin-top: 56px;
}

main .member {
  display: flex;
  width: max-content;
  height: max-content;
}

.person img {
  width: 139px;
  height: 209px;
}

.person h3 {
  font: 700 0.875rem "Poppins", sans-serif;

  margin-top: 10px;
}

.member p {
  font: 400 0.625rem "PT Serif", serif;
  text-transform: uppercase;
  writing-mode: vertical-rl;

  margin-left: 2px;
  height: fit-content;
}

footer {
  display: flex;
  justify-content: center;

  margin-top: 134px;
  margin-bottom: 24px;
}

footer small {
  font: 400 0.875rem "Montserrat", sans-serif;

  color: #a9a9a9;
}

footer ins {
  font-weight: 700;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 320px) {
  header {
    margin-left: 14px;
  }

  header h1 {
    font-size: 2rem;
    line-height: 44px;
    letter-spacing: -0.035em;

    margin-bottom: 32px;
  }

  #main-text h2 {
    font-size: 0.875rem;
  }

  #main-text p {
    font-size: 0.75rem;
    margin-top: 8px;
    width: 280px;
  }

  main {
    column-gap: 20px;
  }

  .person img {
    width: 125px;
    height: 188px;
  }

  .person h3 {
    font-size: 0.75rem;
    margin-top: 8px;
  }

  .member p {
    font-size: 0.5rem;
  }

  footer {
    margin-top: 124px;
    margin-bottom: 20px;
  }

  footer small {
    font-size: 0.75rem;
  }
}

@media (min-width: 425px) {
  header {
    margin-left: 18px;
  }

  .person img {
    width: 164px;
    height: 242px;
  }

  .member p {
    margin-left: 4px;
  }
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;

    margin-left: 0;
  }

  header h1 {
    margin-bottom: 0;
  }

  main {
    grid-template-columns: repeat(3, max-content);
    column-gap: 42px;
  }

  main .member:nth-child(2n + 2) {
    margin-top: 0;
  }

  main .member:nth-child(2),
  main .member:nth-child(5) {
    margin-top: 76px;
  }

  .person img {
    width: 172px;
    height: 253px;
  }

  .member p {
    margin-left: 6px;
  }
}

@media (min-width: 1024px) {
  header {
    margin-left: 0;
    margin-top: 110px;
  }

  #main-text p {
    font-size: 1rem;
    width: 340px;
  }

  main {
    margin-top: 96px;
    column-gap: 64px;
  }

  main .member:nth-child(2),
  main .member:nth-child(5) {
    margin-top: 100px;
  }

  .person img {
    width: 189px;
    height: 275px;
  }

  .person h3 {
    font-size: 1rem;

    margin-top: 12px;
  }

  .member p {
    font-size: 0.75rem;

    margin-left: 8px;
  }

  footer {
    margin-top: 115px;
  }
}

@media (min-width: 1440px) {
  #main-text p {
    font-size: 1.125rem;
    width: 440px;
  }

  .person img {
    width: 238px;
    height: 341px;
  }

  .person h3 {
    font-size: 1.125rem;

    margin-top: 15px;
  }

  .member p {
    margin-left: 10px;
  }
}
