header {
  background-color: #292929;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fbf5f3;
  font-size: 20px;
  font-weight: 500;
  font-family: "Fira Code", sans-serif, monospace;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffba08;
}

#button {
  display: inline-block;
  background-color: #ffba08;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #000000;
}
